# -------------------------------------
# GitLab Application
# -------------------------------------

GITLAB_VERSION=18.3.5-ee.0
GITLAB_APP_HOSTNAME=gitlab.example.com
GITLAB_EXTERNAL_URL=https://gitlab.example.com
GITLAB_SSH_PORT=22
GITLAB_INTERNAL_HTTP_PORT=8182
GITLAB_SHM_SIZE=256m

# -------------------------------------
# SMTP Settings
# -------------------------------------

GITLAB_SMTP_ENABLE=true
GITLAB_SMTP_HOST=smtp.mailgun.org
GITLAB_SMTP_PORT=587
GITLAB_SMTP_USERNAME=gitlab@sandbox123.mailgun.org
GITLAB_SMTP_PASSWORD=password
GITLAB_SMTP_AUTH=login
GITLAB_SMTP_STARTTLS=true
GITLAB_SMTP_TLS=false
GITLAB_EMAIL_DISPLAY_NAME=GitLab

# -------------------------------------
# Registry Settings
# -------------------------------------

GITLAB_REGISTRY_URL=https://registry.example.com
GITLAB_INTERNAL_REGISTRY_PORT=5005

# -------------------------------------
# Authentik Settings
# -------------------------------------

GITLAB_AUTHENTIK_LABEL=Authentik
GITLAB_AUTHENTIK_URL=https://authentik.example.com
GITLAB_AUTHENTIK_SLUG=gitlab
GITLAB_AUTHENTIK_CLIENT_ID=id_from_authentik
GITLAB_AUTHENTIK_CLIENT_SECRET=secret_from_authentik

# Docker Compose profiles
COMPOSE_PROFILES=gitlab-runner

# GitLab Runner
GITLAB_RUNNER_VERSION=v18.3.1
GITLAB_RUNNER_TOKEN=glrt-000

# S3
ENABLE_GITLAB_S3=true
GITLAB_S3_PROVIDER=AWS
GITLAB_S3_REGION=ap-southeast-1
GITLAB_S3_UPLOADS_BUCKET=gitlab-uploads
GITLAB_S3_ARTIFACTS_BUCKET=gitlab-artifacts
GITLAB_S3_PACKAGES_BUCKET=gitlab-packages
GITLAB_S3_UPLOADS_ACCESS_KEY=access_key_from_s3
GITLAB_S3_UPLOADS_SECRET_KEY=secret_key_from_s3
GITLAB_S3_ARTIFACTS_ACCESS_KEY=access_key_from_s3
GITLAB_S3_ARTIFACTS_SECRET_KEY=secret_key_from_s3
GITLAB_S3_PACKAGES_ACCESS_KEY=access_key_from_s3
GITLAB_S3_PACKAGES_SECRET_KEY=secret_key_from_s3
