services:
  gitlab-app:
    image: gitlab/gitlab-ee:${GITLAB_VERSION}
    container_name: gitlab-app
    restart: unless-stopped
    hostname: ${GITLAB_APP_HOSTNAME}
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url '${GITLAB_EXTERNAL_URL}'
        nginx['listen_port'] = ${GITLAB_INTERNAL_HTTP_PORT}
        nginx['listen_https'] = false
        nginx['redirect_http_to_https'] = false
        gitlab_rails['gitlab_shell_ssh_port'] = ${GITLAB_SSH_PORT}

        # ---------------- SMTP ----------------
        gitlab_rails['smtp_enable'] = ${GITLAB_SMTP_ENABLE}
        gitlab_rails['smtp_address'] = '${GITLAB_SMTP_HOST}'
        gitlab_rails['smtp_port'] = ${GITLAB_SMTP_PORT}
        gitlab_rails['smtp_user_name'] = '${GITLAB_SMTP_USERNAME}'
        gitlab_rails['smtp_password'] = '${GITLAB_SMTP_PASSWORD}'
        gitlab_rails['smtp_domain'] = '${GITLAB_SMTP_HOST}'
        gitlab_rails['smtp_authentication'] = '${GITLAB_SMTP_AUTH}'
        gitlab_rails['smtp_enable_starttls_auto'] = ${GITLAB_SMTP_STARTTLS}
        gitlab_rails['smtp_tls'] = ${GITLAB_SMTP_TLS}
        gitlab_rails['gitlab_email_from'] = '${GITLAB_SMTP_USERNAME}'
        gitlab_rails['gitlab_email_display_name'] = '${GITLAB_EMAIL_DISPLAY_NAME}'

        # ------------- Registry -------------
        registry['enable'] = true
        registry_external_url 'https://${GITLAB_REGISTRY_URL}'
        registry_nginx['enable'] = true
        registry_nginx['listen_port'] = ${GITLAB_INTERNAL_REGISTRY_PORT}
        registry_nginx['listen_https'] = false

        # ------------- Authentik -------------
        gitlab_rails['omniauth_enabled'] = true
        gitlab_rails['omniauth_allow_single_sign_on'] = ['openid_connect']
        gitlab_rails['omniauth_auto_link_user'] = ['openid_connect']
        gitlab_rails['omniauth_block_auto_created_users'] = false
        gitlab_rails['omniauth_sync_email_from_provider'] = 'openid_connect'
        gitlab_rails['omniauth_sync_profile_from_provider'] = ['openid_connect']
        gitlab_rails['omniauth_sync_profile_attributes'] = ['email']
        gitlab_rails['omniauth_auto_sign_in_with_provider'] = 'openid_connect'
        gitlab_rails['omniauth_providers'] = [
          {
            name: 'openid_connect',
            label: '${GITLAB_AUTHENTIK_LABEL}',
            args: {
              name: 'openid_connect',
              scope: ['openid','profile','email'],
              response_type: 'code',
              issuer: 'https://${GITLAB_AUTHENTIK_URL}/application/o/${GITLAB_AUTHENTIK_SLUG}/',
              discovery: true,
              uid_field: 'preferred_username',
              send_scope_to_token_endpoint: 'true',
              pkce: true,
              client_auth_method: 'query',
              client_options: {
                identifier: '${GITLAB_AUTHENTIK_CLIENT_ID}',
                secret: '${GITLAB_AUTHENTIK_CLIENT_SECRET}',
                redirect_uri: '${GITLAB_EXTERNAL_URL}/users/auth/openid_connect/callback'
              }
            }
          }
        ]
    shm_size: "${GITLAB_SHM_SIZE}"
    volumes:
      - ./vol/gitlab/etc:/etc/gitlab
      - ./vol/gitlab/log:/var/log/gitlab
      - ./vol/gitlab/data:/var/opt/gitlab

    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://127.0.0.1:${GITLAB_INTERNAL_HTTP_PORT}/-/health || exit 1"]
      interval: 20s
      timeout: 10s
      retries: 30
      start_period: 120s

    networks:
      - proxy-client-gitlab

  gitlab-runner-register:
    image: gitlab/gitlab-runner:latest
    profiles:
      - gitlab-runner
    depends_on:
      gitlab-app:
        condition: service_healthy
    volumes:
      - ./vol/gitlab-runner:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock
    entrypoint: ["/bin/sh", "-lc"]
    command: >
      if [ ! -f /etc/gitlab-runner/config.toml ]; then
        echo "No config.toml, registering GitLab Runner...";
        gitlab-runner register --non-interactive \
          --url="${GITLAB_EXTERNAL_URL}" \
          --registration-token="${GITLAB_RUNNER_TOKEN}" \
          --executor="docker" \
          --docker-image="docker:27" \
          --description="gitlab-docker-runner" \
          --docker-privileged \
          --docker-volumes="/var/run/docker.sock:/var/run/docker.sock" \
          --docker-volumes="/cache";
      else
        echo "config.toml already exists, skip registration.";
      fi

  gitlab-runner:
    image: gitlab/gitlab-runner:latest
    container_name: gitlab-runner
    restart: unless-stopped
    profiles:
      - gitlab-runner
    depends_on:
      gitlab-app:
        condition: service_healthy
      gitlab-runner-register:
        condition: service_completed_successfully
    volumes:
      - ./vol/gitlab-runner:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  proxy-client-gitlab:
    name: proxy-client-gitlab
    external: true